.form-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  
  .divider {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label {
    width: 30%;
    font-size: 15px;
  }
  
  .input-container {
    width: 70%;
  }
  
  .custom-file-input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
    background: #f9f9f9;
  }
  
  .browse-btn {
    background: #ddd;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #666;
    cursor: pointer;
    width: 120px;
    text-align: center;
  }
  
  .file-name {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    color: #666;
    background: white;
    border-left: 1px solid #ccc;
  }
  
  .file-input {
    display: none;
  }
  
  .text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn-gray {
    background: #e0e0e0;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-gray:hover {
    background: #d6d6d6;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  }
  
  .btn-green {
    background: #28a745;
    color: white;
    border: 1px solid rgb(152, 218, 152);
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 8px rgba(77, 200, 84, 0.859);
  }
  
  @media (max-width: 768px) {
    .form-container {
      width: 90%;
      padding: 15px;
    }
  
    .form-group {
      flex-direction: column;
      align-items: flex-start;
    }
  
    label {
      width: 100%;
      margin-bottom: 5px;
    }
  
    .input-container {
      width: 100%;
    }
  
    .button-group {
      flex-direction: column;
      align-items: center;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  